.message
  .message__upper-info
    %p.message__upper-info__talker
      = message.user.name
    %p.message__upper-info__date
      = message.created_at.strftime("%Y/%m/%d %T")
  %p.message__text
    - if message.content.present?
      = message.content
    %div
      = image_tag message.image_url if message.image.present?